.place {
    height: auto;
}

.place i {
}

.row{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.red {
    color: #a00008;
}

.white {
    color: #fff28d;
}

.black {
    color: black;
}