.place {
    height: auto;
}

.place span {
    font-size: calc(1.5vw + 1.5vh);
}

.op-2 {
    opacity: 0.2;
}

.fa-stack {
    width: 2em;
}

.row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.red {
    color: #a00008;
}

.white {
    color: #fff28d;
}

.black {
    color: black;
}


.badge-custom-Rotwein {
    background-color: #a00008;
    color: white;
}

.badge-custom-Weißwein {
    background-color: #fff28d;
}

.bg-custom {
    background-color: #a00008 !important;
}
