.place {
    height: auto;
}

.place i {
    font-size: calc(3vw + 3vh);
}

.row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.red {
    color: #a00008;
}

.white {
    color: #fff28d;
}

.black {
    color: black;
}


.badge-custom-Rotwein {
    background-color: #a00008;
    color: white;
}

.badge-custom-Weißwein {
    background-color: #fff28d;
}

.bg-custom {
    background-color: #a00008 !important;
}